.tabs-container {
  width: 100%;
}

.tabs-header {
  display: flex;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  border-bottom: 2px solid ;
}

.tab.active {
  border-bottom: 2px solid blue; /* Change color as desired */
}

.tabs-content {
  margin-top: 20px;
  /* Add animations here */
}
